<div class="row">
    <div class="col-md-12">
    <div class="register-form-box">
    <div class="changePassword-wrapper">
        <form (ngSubmit)="onChangePassword(mychangePasswordForm)" #mychangePasswordForm="ngForm">
            <div class="form-group div-space">
              <label for="oldPassword">Old Password</label>
              <input type="password" id="oldPassword" name="oldPassword" ngModel #oldPassword="ngModel" class="form-control" required  minlength="6">
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
                  <div *ngIf="oldPassword.errors.required">Password field is required!</div>
                  <div *ngIf="oldPassword.errors.minlength">Password is too short.</div>
                </div>
            </div>
            <div class="form-group div-space">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" ngModel #newPassword="ngModel" class="form-control" required  minlength="6">
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                    <div *ngIf="newPassword.errors.required">Password field is required!</div>
                    <div *ngIf="newPassword.errors.minlength">Password is too short.</div>
                  </div>
              </div>
            <div class="form-group div-space">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control" required  minlength="6">
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                  <div *ngIf="confirmPassword.errors.required">Password field is required!</div>
                  <div *ngIf="confirmPassword.errors.minlength">Password is too short.</div>
                </div>
            </div>
            <div class="row div-space">
              <div class="col-md-12">
                <button class="btn btn-primary reset-password-btn" type="submit" [disabled]="!mychangePasswordForm.valid">Change Password</button>
                <button id="cancel-change-user-password" type="button" class="btn btn-danger cancle-btn">Cancel</button>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
</div>