<div class="sidebar">
  <div class="sidebar-wrapper" style="background-image: url(../assets/images/sidebar-bg.jpg);background-size: cover;">
      <div class="logo">
          <a routerLink="/" class="logo-text">
              <img src="../assets/images/logo.png">
          </a>
      </div>
      <ul class="nav">
          <li>
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                  <i class="fa fa-tachometer"></i>
                  <p>Dashboard</p>
              </a>
         </li>
          <li>
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                  <i class="fa fa-user"></i>
                  <p>Profile</p>
              </a>
          </li>
      </ul>
  </div>
</div>