<div class="main-content-wrapper">
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="reset-form-wrapper">
          <!-- <h3 style="text-align:center;"><strong>Foo</strong>Bar</h3> -->
          <div class="project-logo"><img src="../assets/images/logo.png"></div>
          <div class="reset-form-box">
              <p style="text-align:center;">Forcefully reset password</p>
            <form (ngSubmit)="onReset(myResetPasswordForm)" #myResetPasswordForm="ngForm">
            <div class="form-group">
              <label for="email">New Password</label>
              <input type="password" id="password" name="password" ngModel #password="ngModel" class="form-control" required  minlength="6">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                  <div *ngIf="password.errors.required">Password field is required!</div>
                  <div *ngIf="password.errors.minlength">Password is too short.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control" required  minlength="6">
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                  <div *ngIf="confirmPassword.errors.required">Password field is required!</div>
                  <div *ngIf="confirmPassword.errors.minlength">Password is too short.</div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary reset-password-btn" type="submit" [disabled]="!myResetPasswordForm.valid">Recover Password</button>
              </div>
            </div>
            </form>
            <p style="text-align:center;">
                <a routerLink="/">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
  