
.reset-form-wrapper {
    max-width: 400px;
    width: 100%;
    margin: 7% auto;
}
.reset-form-box {
    padding: 20px 30px;
    background: rgba(74, 59, 88, 0.8);
    color: #fff;
}
.reset-password-btn{
    width: 100%;
    margin-bottom: 15px;
}