

/* Profile Image Section */

.user-image-wrapper {
    text-align: center;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 1);
    margin-top: 40px;
    padding: 30px 0;
    min-height: 424px;
}
.edit-image {
    cursor: pointer;
    font-size: 24px;
    color: #81a65f;
}
.edit-profile-image {
    padding: 10px 0;
}
.user-fullname {
    margin-top: 0;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload {
    color: #000;
    background-color: #e8e8e8;
    font-size: 15px;
    font-weight: 400;
    border: 0 !important;
    padding: 8px 15px !important;
    border-radius: 4px;
    margin-right: 20px;
}
.file-upload-block {
    margin-bottom: 20px;
    padding: 0 20px;
}

.upload-img-btn {
    border-width: 2px;
    color: #fff;
    background-color: #81a65f;
    opacity: 1;
    border-color: #81a65f;
    margin-right: 10px;
}

.upload-img-btn:hover, .upload-img-btn:focus, .upload-img-btn:active {
    background-color: #81a65f;
    color: #FFFFFF;
    border: 2px solid #81a65f;
}

.profile-tab a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.profile-tab.active a {
    background-color: rgba(214, 255, 95, 0.65);
    border: 1px solid #9bb753;
    border-bottom-color: transparent;
}
.profile-tab a:hover, .profile-tab a:focus, .profile-tab a:active {
    color: #fff;
    background-color: rgba(214, 255, 95, 0.65);
    border: 1px solid #9bb753;
    border-bottom-color: transparent;
}